body {
	background: #222 !important;
}
#about,#progress,#portfolio,#price {
	background-color: #222;
}
#portfolio .cards {
    background-color: #333;
}
.offer {
	color: #aaa;
	border: 1px solid #fff;
}
.toggle_mnu {
	background-color: #333;
}
#progress h3 {
	color: #fff;
}
.cards h4,#portfolio a {
	color: #fff;
}
#portfolio .cards {
	background-color: #333;
}
h3,h4 {
	color: #fff;
}
#about ul, #about li {
	color: #aaa
}
#price {
    background-color: #222;
}
#price .ticket {
	background-color: #222;
}