#progress {
	background-color: #222;
}
.offer {
	color: #aaa;
	border: 1px solid #fff;
}
#progress h3 {
	color: #fff;
}
.cards h4 {
	color: #222;
}
#portfolio .cards {
	background-color: #eee;
}
h3,h4 {
	color: #fff;
}
#about ul, #about li {
	color: #aaa
}
#price {
    background-color: #222;
}
#price .ticket {
	background-color: #222;
}